.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#search-box {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.blog-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.blog-card h2 {
  font-size: 24px;
  margin-top: 0;
}

.blog-card p {
  margin: 0;
  margin-bottom: 10px;
}

.blog-card p:last-of-type {
  margin-bottom: 0;
}
